/*button*/

.btn {
  @include font("Montserrat",600,16px,1px,normal,#FFFFFF);
  text-align: center;
  display: inline-block;
  padding: 10px 0;
  max-width: 196px;
  width: 100%;
  background: #EC7400;
  border: 1px solid transparent;
  transition: all 0.5s ease;
  &:hover {
    background: #ddd;
    border-color: #ddd;
    color: #000;
  }
}
