/*banner*/

#banner {
  position: relative;
  overflow: hidden;
  &::after{
    content: url(../images/common/banner-tri.png);
    max-width:842px;
    @include width(1920px, 842px);
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .slider img{
    object-fit: cover;
    width: 100%;
    height: 98vh;
  }
  .row{
    text-align: right;
    max-width: 1580px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 88px;
    z-index: 99;
  }
  h3{
    @include font("Montserrat",700,23px,1px,120%,#FFF);
  }
  h2{
    @include font("Rajdhani",600,120px,0,100%,#FFF);
  }
  .links{
    margin: 25px 0 0;
    @include flex(row, wrap, flex-end, center);
    .banner-phone{
      position: relative;
      max-width: 193px;
      width: 100%;
      margin: 0 40px;
      @include font("Rajdhani",600, 36px,0,33px,#FFF);
      &::before{
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -40px;
        background: url('../images/common/css-sprites.png') no-repeat -9px 0;
      	width: 37px;
      	height: 37px;
      }
    }
  }
}
