/*footer*/

#footer {
  background: #000000;
  .row{
    max-width: 1500px;
    @include flex(row, nowrap, space-between, center);
  }
  .ft-left{
    flex-basis: 50%;
    text-align: left;
    ul{
      max-width: 790px;
      @include flex(row, nowrap, space-around, center);
      list-style: none;
      padding: 0;
      margin: 0;
      li{
        a{
          @include font("Rajdhani",600,18px,normal,normal,#FFFFFF)
        }
      }
    }
  }
  .ft-right{
    p{
      @include font("Rajdhani",600,18px,normal,normal,#FFFFFF)
    }
  }
  .silver img {
    display: inline-block;
    vertical-align: middle;
    max-width: 50px;
  }
}
