/*header*/

#header {
  background: #FFFFFF;
  position: relative;
  z-index: 9999;
  .row{
    @include flex(row, nowrap, space-between, flex-start);
    max-width: 1580px;
  }
  nav {
    @include flex-basis(1580px, 835px);
    @include width(1580px, 835px);
    a#pull {
      display: none;
    }
    ul {
      @include flex(row, nowrap, space-around, flex-start);
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        a {
          display: inline-block;
          padding: 31px 0;
          @include font(Rajdhani,600,18px,normal,normal,#212121)
        }
        &.active-menu a, a:hover{
          &::before{
            content: "";
            width: 100%;
            height: 5px;
            background: #EC7400;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
          }
        }
      }
    }
  }
  .headerLeft{
    position: relative;
    @include flex-basis(1580px, 526px);
    @include width(1580px, 526px);
    margin-left: -68px;
    a{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      max-width: 526px;
      width: 100%;
      margin: 0 auto;
      img{
        width: 100%;
      }
    }
  }
  .headerRight{
    margin-bottom: -4px;
  }
}
