#services{
  padding: 73px 0 77px;
  .row{
    max-width: 1500px;
  }
  h2{
    position: relative;
    &::after{
      content: "";
      background: #DDDDDD;
      width: 47px;
      height: 4px;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .flex-container{
    @include flex(row, wrap, space-around, flex-start);
    dl{
      @include flex-basis(1500px, 477px);
      @include width(1500px, 477px);
      dt{
        border:1px solid #CCCCCC;
        .image{
          position: relative;
          max-width: 456px;
          width: 100%;
          margin: 10px;
          overflow: hidden;
          img{
            margin: 0 0 -3px;
          }
          a{
            position: absolute;
            right: 0;
            bottom:0;
            display: inline-block;
            text-transform: uppercase;
            padding: 42px 26px 14px 46px;
            @include font("Montserrat",600,16px,1px,120%,#FFF);
            &::before{
              content: "";
              width: 127px;
              height: 93px;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              background: #EC7400d1;
              transition: all 0.5s ease;
              transform: rotate(-44deg) translate(-16%,25%);
            }
            span{
              position: relative;
              z-index: 999;
            }
            &:hover{
              &::before{
                height: 74px;
                transform: rotate(0deg) translate(0,0);
              }
            }
          }
        }
      }
      dd{
        padding: 15px 0;
        margin: 0;
        @include font("Rajdhani",600,36px,1px,120%,#000);
      }
    }
  }
}
