#why{
  background: url("../images/common/whyBG.jpg")no-repeat center top;
  background-size: cover;
  padding: 87px 0;
  .row{
    max-width: 1114px;
  }
  h2{
    color: #FFFFFF;
    position: relative;
    &::after{
      content: "";
      background: #FFFFFF;
      width: 47px;
      height: 4px;
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .flex-container{
    @include flex(row, wrap, space-around, flex-start);
    dl{
      @include flex-basis(1114px,262px);
      @include width(1114px,262px);
      dt{
        padding: 30px 0;
      }
      dd{
        margin: 0;
        @include font("Rajdhani",600,30px,1px,120%,#FFFFFF);
      }
    }
  }
}
