#reviews{
  padding: 120px 0;
  .row{
    position: relative;
    max-width: 1500px;
    @include flex(row,wrap,space-around,center);
  }
  img[alt="Review Image 1"]{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 99;
    @include width(1500px, 408px);
  }
  .container{
    padding: 60px 0;
    border: 10px solid #02246B;
    max-width: 1276px;
    width: 100%;
    margin: 0 0 0 auto;
    .text{
      text-align: left;
      max-width: 771px;
      margin: 0 auto 0 360px;
      h2{
        position: relative;
        &::after{
          content: "";
          background: #DDDDDD;
          width: 47px;
          height: 4px;
          position: absolute;
          bottom: 0px;
          left: 0;
        }
      }
      p{
        @include font("Montserrat",400,17px,normal,32px,#000);
        position: relative;
        &:first-of-type::before{
          content:'';
          position: absolute;
          top: 10px;
          left: -8%;
          background: url('../images/common/css-sprites.png') no-repeat -19px -343px;
        	width: 24px;
        	height: 23px;
        }
      }
    }
  }
}
