#recent{
  position: relative;
  overflow: hidden;
  background: url(../images/common/recentBG.jpg)no-repeat center top;
  background-size: cover;
  padding: 75px 0 0;
  .row{
    max-width: 1634px;
  }
  h2{
    position: relative;
    color: #FFF;
    &::after{
      content: "";
      background: #EC7400;
      width: 47px;
      height: 4px;
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .flex-container{
    position: relative;
    margin: 0 auto;
    @include flex(row, nowrap, flex-end, flex-start);
  }
  .images{
    position: relative;
    max-width: 1350px;
    width: 100%;
    padding: 60px 0;
    @include flex(column, nowrap, center, flex-start);
  }
  .imgTop{
    margin: 0 auto;
    img{
      max-width: 447px;
      width: 33%;
    }
  }
  .imgBottom{
    margin: -16.5% 0 0 0;
    transform: translate(-16.8%,0%);
    img{
      max-width: 447px;
      width: 33%;
    }
  }
  .view{
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -41%);
    .vbtn{
      position: relative;
      display: inline-block;
      text-align: center;
      padding: 45px 23px;
      @include font("Montserrat",600,16px,1px,normal,#FFFFFF);
      z-index: 999;
    }
    &::before{
      content:"";
      width: 100%;
      background: #EC7400;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom:0;
      z-index: 1;
      transform: rotate(45deg);
      transition: all 0.5s ease
    }
    &:hover{
      &::before{
        transform: rotate(0deg);
      }
    }
  }
  .socials{
    max-width: 73px;
    width: 100%;
    margin-left: 70px;
    p{
      margin: 0 auto;
      max-width: 73px;
      width: 100%;
      border: 1px solid #FFF;
      @include flex(column, nowrap, center, center);
      a.socialico{
        font-family: 'socialico';
        font-size: 34px;
        color: #FFF;
        margin: 30px 0;
      }
    }
  }
}
