#phone{
  padding: 70px 0;
  p{
    position: relative;
    margin: 0;
    padding: 70px 0 0;
    @include font("Rajdhani",600,50px,normal,120%,#000000);
    &::before{
      content:"";
      background: url('../images/common/css-sprites.png') no-repeat -1px -47px;
    	width: 60px;
    	height: 60px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
