#welcome{
  padding: 44px 0 50px;
  overflow: hidden;
  .row{
    max-width: 1500px;
  }
  .panel{
    border: 10px solid #02246B;
    max-width: 1196px;
    width: 100%;
    margin: 0 0 0 auto;
    position: relative;
    h1{
      position: relative;
      &::after{
        content: "";
        background: #DDDDDD;
        width: 47px;
        height: 4px;
        position: absolute;
        bottom: 0px;
        left: 0;
      }
    }
    img[alt="car"]{
      position: absolute;
      top: 12px;
      left: -214px;
      z-index: 999;
    }
    .text{
      position: relative;
      z-index: 999;
      padding: 50px 0;
      text-align:left;
      max-width: 658px;
      margin: 0 auto 0 467px;
      p{
        @include font("Montserrat",400,17px,normal,32px,#000);
      }
    }
    &::after{
      content: "";
      max-width: 880px;
      width: 100%;
      height: 511px;
      background: url(../images/common/welcome-tri.png)no-repeat center top;
      background-size: 100% 100%;
      position: absolute;
      bottom: -60px;
      left: -506px;
      z-index: 99;
    }
  }
}
