#contacts{
  .row{
    max-width: 1500px;
  }
  .logo{
    .row{
      @include flex(row,nowrap,space-between,flex-start);
      .botLogo{
        max-width: 520px;
        @include flex-basis(1500px,520px);
        width: 100%;
      }
      form{
        position: relative;
        z-index: 1;
        margin: 0;
        max-width: 615px;
        @include flex-basis(1500px,615px);
        width: 100%;
        background: #EC7400;
        padding: 36px 0 92px;
        h2{
          text-align: center;
          position: relative;
          color: #FFFFFF;
          &::after{
            content: "";
            background: #FFFFFF;
            width: 47px;
            height: 4px;
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
        .bot{
          max-width: 476px;
          width: 100%;
          margin: 0 auto;
          label{
            @include font("Montserrat",400,16px,normal,19px,#FFF);
          }
        }
        input[type="text"], textarea{
          max-width: 476px;
          width: 100%;
          margin: 10px auto;
          border-radius: 0;
          @include font("Montserrat",400,16px,normal,19px,#000);
          &::placeholder{
            @include font("Montserrat",400,16px,normal,19px,#000);
          }
        }
        input[type="text"]{height: 44px;}
        textarea{height: 350px;}
        button{
          margin: -10px auto 10px;
          max-width: 476px;
          border: 0;
          width: 100%;
          padding: 23px 0;
          background: linear-gradient(#1C3C79, #02246B);
          @include font("Montserrat",700,24px,6px,normal,#FFFFFF);
        }
      }
    }
  }
  .info{
    position: relative;
    margin-top: -600px;
    background: url(../images/common/infoBG.jpg)no-repeat center top;
    padding: 65px 0;
    .row{
      text-align: left;
    }
    p{
      margin:10px 0;
      padding: 0 0 0 100px;
      position: relative;
      &.phone{
        @include font("Rajdhani",600,43px,0,62px,#FFFFFF);
        &::before{
          content:"";
          background: url('../images/common/css-sprites.png') no-repeat 0 -118px;
        	width: 62px;
        	height: 62px;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
      }
      &.email{
        @include font("Rajdhani",600,23px,0,62px,#FFFFFF);
        &::before{
          content:"";
          background: url('../images/common/css-sprites.png') no-repeat 0 -192px;
        	width: 62px;
        	height: 62px;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
      }
      &.address{
        @include font("Rajdhani",600,23px,0,62px,#FFFFFF);
        &::before{
          content:"";
          background: url('../images/common/css-sprites.png') no-repeat 0 -264px;
        	width: 62px;
        	height: 62px;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
      }
      &.social-media a{
        font-family: "socialico";
        font-size: 32px;
        margin: 0 50px 0 0;
        color: #FFF;
      }
    }
  }
}
#map{
  img{
    width: 100%;
  }
}
