h1{
  @include font("Rajdhani",600,80px,0,120%,#000)
  span.orange{
    color:#EB7300;
  }
  span.blue{
    color:#1B3B79;
  }
}

h2{
  @include font("Rajdhani",600,95px,0,120%,#000)
  span.orange{
    color:#EB7300;
  }
  span.blue{
    color:#1B3B79;
  }
}
