@font-face {
  font-family: "socialico";
  src: url("fonts/Socialico/Socialico.eot");
  src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg"); }

@font-face {
  font-family: 'Rajdhani';
  src: url("fonts/Rajdhani/Rajdhani-Semibold.woff2") format("woff2"), url("fonts/Rajdhani/Rajdhani-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("fonts/Montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"), url("fonts/Montserrat/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("fonts/Montserrat/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"), url("fonts/Montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

.suspension-contain {
  max-height: 980px;
  overflow: hidden;
  position: relative;
  z-index: 999999; }

html.suspended {
  background: rgba(0, 0, 0, 0.6); }

body {
  max-width: 100%;
  min-width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-family: Arial; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    text-decoration: none;
    color: inherit; }

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0; }

.row {
  max-width: 1200px;
  margin: 0 auto; }

/*floats*/
.fl {
  float: left; }

.fr {
  float: right; }

/*grids*/
.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

/*typography*/
.text-primary {
  color: #B11414; }

.text-bold {
  font-weight: 700; }

.text-uppercase {
  text-transform: uppercase; }

.text-center {
  text-align: center !important; }

.text-left {
  text-align: left; }

/*button*/
.btn {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: normal;
  color: #FFFFFF;
  text-align: center;
  display: inline-block;
  padding: 10px 0;
  max-width: 196px;
  width: 100%;
  background: #EC7400;
  border: 1px solid transparent;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .btn:hover {
    background: #ddd;
    border-color: #ddd;
    color: #000; }

/*clearings*/
.clear {
  clear: both; }

.clearfix {
  display: block; }
  .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0; }

/*cookie*/
.cc-animate.cc-revoke.cc-bottom {
  font-size: 14px;
  padding: 5px 10px;
  position: fixed;
  display: block !important;
  -webkit-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
  bottom: 0 !important;
  left: 20px !important; }

/*call to action*/
.destroy-on-load, .cta {
  display: none; }

/*contact form messages*/
form .messages p {
  display: none;
  font-family: Arial !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
  font-size: 16px !important; }

form .loading {
  display: none; }

form .alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px; }

form .alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6; }

form .alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1; }

form [type="submit"] {
  margin: 20px auto; }

/*contact form*/
.ctc-form {
  margin: 0 auto;
  text-align: center; }
  .ctc-form input[type="text"] {
    font-family: Arial;
    font-size: 16px;
    color: #000;
    height: 45px;
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto 8px; }
  .ctc-form textarea {
    font-family: Arial;
    font-size: 16px;
    color: #000;
    height: 45px;
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto 8px;
    height: 120px;
    padding-top: 10px; }
  .ctc-form button {
    display: block; }
  .ctc-form .recap {
    display: inline-block; }
  .ctc-form .g-recaptcha div {
    margin: 0 auto 10px; }
  .ctc-form .ctc-hide {
    display: none; }

/*gallery*/
#content .gallery-container {
  text-align: center; }

#content .gallery {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  #content .gallery li {
    display: inline-block; }

#content .thumbnail {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block;
  line-height: .42857;
  margin-bottom: 20px;
  padding: 4px;
  -webkit-transition: border 0.5s ease-in-out 0s;
  -o-transition: border 0.5s ease-in-out 0s;
  transition: border 0.5s ease-in-out 0s; }
  #content .thumbnail:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02); }

#content .page_navigation {
  display: inline-block; }

#content .page_link, #content .previous_link, #content .next_link, #content .first_link, #content .last_link, #content .ellipse {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #0275d8;
  display: inline-block;
  line-height: 1.25;
  margin-left: -1px;
  padding: 0.5rem 0.75rem;
  position: relative; }

#content .page_navigation > a:hover {
  background-color: #eceeef;
  border-color: #ddd;
  color: #014c8c;
  text-decoration: none; }

.page_navigation > a.active_page {
  background-color: #eceeef;
  border-color: #ddd;
  color: #014c8c;
  text-decoration: none; }

h1 {
  font-family: "Rajdhani";
  font-weight: 600;
  font-size: 80px;
  letter-spacing: 0;
  line-height: 120%;
  color: #000; }
  h1 span.orange {
    color: #EB7300; }
  h1 span.blue {
    color: #1B3B79; }

h2 {
  font-family: "Rajdhani";
  font-weight: 600;
  font-size: 95px;
  letter-spacing: 0;
  line-height: 120%;
  color: #000; }
  h2 span.orange {
    color: #EB7300; }
  h2 span.blue {
    color: #1B3B79; }

/*header*/
#header {
  background: #FFFFFF;
  position: relative;
  z-index: 9999; }
  #header .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    max-width: 1580px; }
  #header nav {
    -ms-flex-preferred-size: 52.8481%;
    flex-basis: 52.8481%;
    width: 52.8481%; }
    #header nav a#pull {
      display: none; }
    #header nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      margin: 0;
      padding: 0; }
      #header nav ul li {
        display: inline-block;
        vertical-align: middle;
        position: relative; }
        #header nav ul li a {
          display: inline-block;
          padding: 31px 0;
          font-family: Rajdhani;
          font-weight: 600;
          font-size: 18px;
          letter-spacing: normal;
          line-height: normal;
          color: #212121; }
        #header nav ul li.active-menu a::before, #header nav ul li a:hover::before {
          content: "";
          width: 100%;
          height: 5px;
          background: #EC7400;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0; }
  #header .headerLeft {
    position: relative;
    -ms-flex-preferred-size: 33.29114%;
    flex-basis: 33.29114%;
    width: 33.29114%;
    margin-left: -68px; }
    #header .headerLeft a {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      max-width: 526px;
      width: 100%;
      margin: 0 auto; }
      #header .headerLeft a img {
        width: 100%; }
  #header .headerRight {
    margin-bottom: -4px; }

/*banner*/
#banner {
  position: relative;
  overflow: hidden; }
  #banner::after {
    content: url(../images/common/banner-tri.png);
    max-width: 842px;
    width: 43.85417%;
    position: absolute;
    bottom: 0;
    right: 0; }
  #banner .slider img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 98vh; }
  #banner .row {
    text-align: right;
    max-width: 1580px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 88px;
    z-index: 99; }
  #banner h3 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 23px;
    letter-spacing: 1px;
    line-height: 120%;
    color: #FFF; }
  #banner h2 {
    font-family: "Rajdhani";
    font-weight: 600;
    font-size: 120px;
    letter-spacing: 0;
    line-height: 100%;
    color: #FFF; }
  #banner .links {
    margin: 25px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #banner .links .banner-phone {
      position: relative;
      max-width: 193px;
      width: 100%;
      margin: 0 40px;
      font-family: "Rajdhani";
      font-weight: 600;
      font-size: 36px;
      letter-spacing: 0;
      line-height: 33px;
      color: #FFF; }
      #banner .links .banner-phone::before {
        content: "";
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: -40px;
        background: url("../images/common/css-sprites.png") no-repeat -9px 0;
        width: 37px;
        height: 37px; }

/*-----------------------------------------------------------------
-------------------------------------------------------------------
-----------------------------------------------------------------*/
#services {
  padding: 73px 0 77px; }
  #services .row {
    max-width: 1500px; }
  #services h2 {
    position: relative; }
    #services h2::after {
      content: "";
      background: #DDDDDD;
      width: 47px;
      height: 4px;
      position: absolute;
      bottom: 10px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
  #services .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    #services .flex-container dl {
      -ms-flex-preferred-size: 31.8%;
      flex-basis: 31.8%;
      width: 31.8%; }
      #services .flex-container dl dt {
        border: 1px solid #CCCCCC; }
        #services .flex-container dl dt .image {
          position: relative;
          max-width: 456px;
          width: 100%;
          margin: 10px;
          overflow: hidden; }
          #services .flex-container dl dt .image img {
            margin: 0 0 -3px; }
          #services .flex-container dl dt .image a {
            position: absolute;
            right: 0;
            bottom: 0;
            display: inline-block;
            text-transform: uppercase;
            padding: 42px 26px 14px 46px;
            font-family: "Montserrat";
            font-weight: 600;
            font-size: 16px;
            letter-spacing: 1px;
            line-height: 120%;
            color: #FFF; }
            #services .flex-container dl dt .image a::before {
              content: "";
              width: 127px;
              height: 93px;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              background: #EC7400d1;
              -webkit-transition: all 0.5s ease;
              -o-transition: all 0.5s ease;
              transition: all 0.5s ease;
              -webkit-transform: rotate(-44deg) translate(-16%, 25%);
              -ms-transform: rotate(-44deg) translate(-16%, 25%);
              transform: rotate(-44deg) translate(-16%, 25%); }
            #services .flex-container dl dt .image a span {
              position: relative;
              z-index: 999; }
            #services .flex-container dl dt .image a:hover::before {
              height: 74px;
              -webkit-transform: rotate(0deg) translate(0, 0);
              -ms-transform: rotate(0deg) translate(0, 0);
              transform: rotate(0deg) translate(0, 0); }
      #services .flex-container dl dd {
        padding: 15px 0;
        margin: 0;
        font-family: "Rajdhani";
        font-weight: 600;
        font-size: 36px;
        letter-spacing: 1px;
        line-height: 120%;
        color: #000; }

/*-----------------------------------------------------------------
-------------------------------------------------------------------
-----------------------------------------------------------------*/
#welcome {
  padding: 44px 0 50px;
  overflow: hidden; }
  #welcome .row {
    max-width: 1500px; }
  #welcome .panel {
    border: 10px solid #02246B;
    max-width: 1196px;
    width: 100%;
    margin: 0 0 0 auto;
    position: relative; }
    #welcome .panel h1 {
      position: relative; }
      #welcome .panel h1::after {
        content: "";
        background: #DDDDDD;
        width: 47px;
        height: 4px;
        position: absolute;
        bottom: 0px;
        left: 0; }
    #welcome .panel img[alt="car"] {
      position: absolute;
      top: 12px;
      left: -214px;
      z-index: 999; }
    #welcome .panel .text {
      position: relative;
      z-index: 999;
      padding: 50px 0;
      text-align: left;
      max-width: 658px;
      margin: 0 auto 0 467px; }
      #welcome .panel .text p {
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 17px;
        letter-spacing: normal;
        line-height: 32px;
        color: #000; }
    #welcome .panel::after {
      content: "";
      max-width: 880px;
      width: 100%;
      height: 511px;
      background: url(../images/common/welcome-tri.png) no-repeat center top;
      background-size: 100% 100%;
      position: absolute;
      bottom: -60px;
      left: -506px;
      z-index: 99; }

/*-----------------------------------------------------------------
-------------------------------------------------------------------
-----------------------------------------------------------------*/
#phone {
  padding: 70px 0; }
  #phone p {
    position: relative;
    margin: 0;
    padding: 70px 0 0;
    font-family: "Rajdhani";
    font-weight: 600;
    font-size: 50px;
    letter-spacing: normal;
    line-height: 120%;
    color: #000000; }
    #phone p::before {
      content: "";
      background: url("../images/common/css-sprites.png") no-repeat -1px -47px;
      width: 60px;
      height: 60px;
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }

/*-----------------------------------------------------------------
-------------------------------------------------------------------
-----------------------------------------------------------------*/
#why {
  background: url("../images/common/whyBG.jpg") no-repeat center top;
  background-size: cover;
  padding: 87px 0; }
  #why .row {
    max-width: 1114px; }
  #why h2 {
    color: #FFFFFF;
    position: relative; }
    #why h2::after {
      content: "";
      background: #FFFFFF;
      width: 47px;
      height: 4px;
      position: absolute;
      bottom: 0px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
  #why .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    #why .flex-container dl {
      -ms-flex-preferred-size: 23.51885%;
      flex-basis: 23.51885%;
      width: 23.51885%; }
      #why .flex-container dl dt {
        padding: 30px 0; }
      #why .flex-container dl dd {
        margin: 0;
        font-family: "Rajdhani";
        font-weight: 600;
        font-size: 30px;
        letter-spacing: 1px;
        line-height: 120%;
        color: #FFFFFF; }

/*-----------------------------------------------------------------
-------------------------------------------------------------------
-----------------------------------------------------------------*/
#recent {
  position: relative;
  overflow: hidden;
  background: url(../images/common/recentBG.jpg) no-repeat center top;
  background-size: cover;
  padding: 75px 0 0; }
  #recent .row {
    max-width: 1634px; }
  #recent h2 {
    position: relative;
    color: #FFF; }
    #recent h2::after {
      content: "";
      background: #EC7400;
      width: 47px;
      height: 4px;
      position: absolute;
      bottom: 10px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
  #recent .flex-container {
    position: relative;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  #recent .images {
    position: relative;
    max-width: 1350px;
    width: 100%;
    padding: 60px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  #recent .imgTop {
    margin: 0 auto; }
    #recent .imgTop img {
      max-width: 447px;
      width: 33%; }
  #recent .imgBottom {
    margin: -16.5% 0 0 0;
    -webkit-transform: translate(-16.8%, 0%);
    -ms-transform: translate(-16.8%, 0%);
    transform: translate(-16.8%, 0%); }
    #recent .imgBottom img {
      max-width: 447px;
      width: 33%; }
  #recent .view {
    position: absolute;
    top: 59%;
    left: 50%;
    -webkit-transform: translate(-50%, -41%);
    -ms-transform: translate(-50%, -41%);
    transform: translate(-50%, -41%); }
    #recent .view .vbtn {
      position: relative;
      display: inline-block;
      text-align: center;
      padding: 45px 23px;
      font-family: "Montserrat";
      font-weight: 600;
      font-size: 16px;
      letter-spacing: 1px;
      line-height: normal;
      color: #FFFFFF;
      z-index: 999; }
    #recent .view::before {
      content: "";
      width: 100%;
      background: #EC7400;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    #recent .view:hover::before {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg); }
  #recent .socials {
    max-width: 73px;
    width: 100%;
    margin-left: 70px; }
    #recent .socials p {
      margin: 0 auto;
      max-width: 73px;
      width: 100%;
      border: 1px solid #FFF;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      #recent .socials p a.socialico {
        font-family: 'socialico';
        font-size: 34px;
        color: #FFF;
        margin: 30px 0; }

/*-----------------------------------------------------------------
-------------------------------------------------------------------
-----------------------------------------------------------------*/
#reviews {
  padding: 120px 0; }
  #reviews .row {
    position: relative;
    max-width: 1500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  #reviews img[alt="Review Image 1"] {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 99;
    width: 27.2%; }
  #reviews .container {
    padding: 60px 0;
    border: 10px solid #02246B;
    max-width: 1276px;
    width: 100%;
    margin: 0 0 0 auto; }
    #reviews .container .text {
      text-align: left;
      max-width: 771px;
      margin: 0 auto 0 360px; }
      #reviews .container .text h2 {
        position: relative; }
        #reviews .container .text h2::after {
          content: "";
          background: #DDDDDD;
          width: 47px;
          height: 4px;
          position: absolute;
          bottom: 0px;
          left: 0; }
      #reviews .container .text p {
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 17px;
        letter-spacing: normal;
        line-height: 32px;
        color: #000;
        position: relative; }
        #reviews .container .text p:first-of-type::before {
          content: '';
          position: absolute;
          top: 10px;
          left: -8%;
          background: url("../images/common/css-sprites.png") no-repeat -19px -343px;
          width: 24px;
          height: 23px; }

/*-----------------------------------------------------------------
-------------------------------------------------------------------
-----------------------------------------------------------------*/
#contacts .row {
  max-width: 1500px; }

#contacts .logo .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  #contacts .logo .row .botLogo {
    max-width: 520px;
    -ms-flex-preferred-size: 34.66667%;
    flex-basis: 34.66667%;
    width: 100%; }
  #contacts .logo .row form {
    position: relative;
    z-index: 1;
    margin: 0;
    max-width: 615px;
    -ms-flex-preferred-size: 41%;
    flex-basis: 41%;
    width: 100%;
    background: #EC7400;
    padding: 36px 0 92px; }
    #contacts .logo .row form h2 {
      text-align: center;
      position: relative;
      color: #FFFFFF; }
      #contacts .logo .row form h2::after {
        content: "";
        background: #FFFFFF;
        width: 47px;
        height: 4px;
        position: absolute;
        bottom: 10px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); }
    #contacts .logo .row form .bot {
      max-width: 476px;
      width: 100%;
      margin: 0 auto; }
      #contacts .logo .row form .bot label {
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 16px;
        letter-spacing: normal;
        line-height: 19px;
        color: #FFF; }
    #contacts .logo .row form input[type="text"], #contacts .logo .row form textarea {
      max-width: 476px;
      width: 100%;
      margin: 10px auto;
      border-radius: 0;
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 16px;
      letter-spacing: normal;
      line-height: 19px;
      color: #000; }
      #contacts .logo .row form input[type="text"]::-webkit-input-placeholder, #contacts .logo .row form textarea::-webkit-input-placeholder {
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 16px;
        letter-spacing: normal;
        line-height: 19px;
        color: #000; }
      #contacts .logo .row form input[type="text"]:-ms-input-placeholder, #contacts .logo .row form textarea:-ms-input-placeholder {
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 16px;
        letter-spacing: normal;
        line-height: 19px;
        color: #000; }
      #contacts .logo .row form input[type="text"]::-ms-input-placeholder, #contacts .logo .row form textarea::-ms-input-placeholder {
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 16px;
        letter-spacing: normal;
        line-height: 19px;
        color: #000; }
      #contacts .logo .row form input[type="text"]::placeholder, #contacts .logo .row form textarea::placeholder {
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 16px;
        letter-spacing: normal;
        line-height: 19px;
        color: #000; }
    #contacts .logo .row form input[type="text"] {
      height: 44px; }
    #contacts .logo .row form textarea {
      height: 350px; }
    #contacts .logo .row form button {
      margin: -10px auto 10px;
      max-width: 476px;
      border: 0;
      width: 100%;
      padding: 23px 0;
      background: -webkit-gradient(linear, left top, left bottom, from(#1C3C79), to(#02246B));
      background: -webkit-linear-gradient(#1C3C79, #02246B);
      background: -o-linear-gradient(#1C3C79, #02246B);
      background: linear-gradient(#1C3C79, #02246B);
      font-family: "Montserrat";
      font-weight: 700;
      font-size: 24px;
      letter-spacing: 6px;
      line-height: normal;
      color: #FFFFFF; }

#contacts .info {
  position: relative;
  margin-top: -600px;
  background: url(../images/common/infoBG.jpg) no-repeat center top;
  padding: 65px 0; }
  #contacts .info .row {
    text-align: left; }
  #contacts .info p {
    margin: 10px 0;
    padding: 0 0 0 100px;
    position: relative; }
    #contacts .info p.phone {
      font-family: "Rajdhani";
      font-weight: 600;
      font-size: 43px;
      letter-spacing: 0;
      line-height: 62px;
      color: #FFFFFF; }
      #contacts .info p.phone::before {
        content: "";
        background: url("../images/common/css-sprites.png") no-repeat 0 -118px;
        width: 62px;
        height: 62px;
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
    #contacts .info p.email {
      font-family: "Rajdhani";
      font-weight: 600;
      font-size: 23px;
      letter-spacing: 0;
      line-height: 62px;
      color: #FFFFFF; }
      #contacts .info p.email::before {
        content: "";
        background: url("../images/common/css-sprites.png") no-repeat 0 -192px;
        width: 62px;
        height: 62px;
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
    #contacts .info p.address {
      font-family: "Rajdhani";
      font-weight: 600;
      font-size: 23px;
      letter-spacing: 0;
      line-height: 62px;
      color: #FFFFFF; }
      #contacts .info p.address::before {
        content: "";
        background: url("../images/common/css-sprites.png") no-repeat 0 -264px;
        width: 62px;
        height: 62px;
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
    #contacts .info p.social-media a {
      font-family: "socialico";
      font-size: 32px;
      margin: 0 50px 0 0;
      color: #FFF; }

#map img {
  width: 100%; }

/*footer*/
#footer {
  background: #000000; }
  #footer .row {
    max-width: 1500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  #footer .ft-left {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    text-align: left; }
    #footer .ft-left ul {
      max-width: 790px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0; }
      #footer .ft-left ul li a {
        font-family: "Rajdhani";
        font-weight: 600;
        font-size: 18px;
        letter-spacing: normal;
        line-height: normal;
        color: #FFFFFF; }
  #footer .ft-right p {
    font-family: "Rajdhani";
    font-weight: 600;
    font-size: 18px;
    letter-spacing: normal;
    line-height: normal;
    color: #FFFFFF; }
  #footer .silver img {
    display: inline-block;
    vertical-align: middle;
    max-width: 50px; }

/*inner pages*/
.inner #content {
  min-height: 400px;
  padding: 40px 0; }

/*privacy policy*/
.inPrivacyBox {
  max-width: 850px;
  margin: 0 auto; }
  .inPrivacyBox p {
    text-align: justify !important; }

/** Responsive
-------------------------------------------------------*/
@media screen and (max-width: 1440px) {
  .row {
    width: 95%; } }

/*@media screen and (max-width:1280px){

}*/
/*@media screen and (max-width: 1024px){
	body {min-width: 320px}
	.row {width: 95%}
}*/
/*@media screen and (max-width: 800px){
  [class*="col-"] {
    width: 100%;
  }
	#header {padding: 0}
	#header .row {width: 100%}
	#header nav {display:block; height: auto; }
  	#header nav ul { width: 100%; display: none; height: auto;border-bottom:5px solid #000; padding: 0 15px;}
  	#header nav ul li { width: 100%;position: relative; }
  	#header nav ul li a { display: block; float:none; padding: 10px 0;}
  	#header nav a {text-align: left; width: 100%;}
	#header nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
	#header nav a#pull {display: block; color: #fff; background-color: #000; height: 30px;padding: 10px 0; width: 100%; position: relative;}
	#header nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}

	.cta{background: #035B96  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #013f9a ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
}*/
/*@media screen and (max-width:640px){

}*/
/*@media screen and (max-width:480px){

}*/
/*@media screen and (max-width:400px){

}*/
/*@media screen and (max-width:320px){

}*/
